<!DOCTYPE html>
<html>
  <head>
    <title>Adventure</title>

  </head>

  <body>
    <h1>New Location</h1>
<%= form_for(@locations) do |f| %>
<%= f.label(:name) %>
<%= f.text_field(:name) %>
<br />
<!-- <%= f.label(:latitude) %>
<%= f.text_field(:latitude) %>
<br />
<%= f.label(:longitude) %>
<%= f.text_field(:longitude) %>
<br /> -->
<%= f.submit %>
<% end %>
  </body>
</html>
